.CartItem {
   display: flex;
   border-bottom: 1px solid #DDDDDD; 
   padding: 12px 0;
}
.CartItem-image {
 width: 180px;
 height: 180px;
 padding-right:1rem; 
}
.CartItem-image img {
    object-fit: cover;
    width: 100%;
}
.CartItem-info {
    flex-grow: 1;
}
.Info-title {
font-size: 20px;
}
.Info-title h2{
margin: 0; 
font-size: 18px; 
color: #007185; 
}
.Info-stock {
color: #007600;
margin-top: 4px;
}
.Item-actions{
margin-top: 4px;
display: flex; 
align-items: center;
}
/* .Item-quantity {} */
.select:focus {
    outline: none;  
}
.Item-quantity select{
background: #F0F2F2; 
padding: 8px;
border-radius: 7px;
box-shadow: 0px 2px 5px 0px rgba(15,17,17,0.15);
}
.items-actions-divider {
font-weight: bold;
margin: 0 8px;
color: #DDDDDD; 
}
.Item-delete {
color: #007185; 
}
.Item-delete:hover {
    text-decoration: underline;
    cursor: pointer;
}
.CartItem-price {
font-size: 20px;
font-weight: 700;
} 