body {
    background-color: #505555;
}

.App {
  text-align: center;
}

.App-main {
  /* background-color: yellow; */
 display: flex;
 flex-direction: row;
 padding: 14px 19px 0 19px;
}

.CartItems{
  flex: .7; 
  margin-right: 19px;
  background-color: #ecf0f1;
  text-align: left;
  padding: 20px; 
}

.CartTotal {
  background-color: #ecf0f1;
  height: 200px; 
  flex: .3;  
}
